.container
  %h1.not_found#nf1
    404
  %h2.not_found#nf2
    Page
  %h2.not_found#nf3
    Not
  %h2.not_found#nf4
    Found
  %p.next
    %i.icon-chevron-down
  %p.next
    %i.icon-chevron-down
  %p.next
    %i.icon-chevron-down
  %h3.not_found
    %a{href: '/', class: 'btn btn-info btn-link'}
      %i.icon-home
      Back to Top
